div class="form-group">

  <label for="title">Title</label>
  <input name="title" class="form-control" placeholder="Type in a company in which others should donate to" value="{{event.title}}" />
</div>
<div class="form-group">
  <label for="desc">Description</label>
  <textarea name="desc" class="form-control" placeholder="A description of why this issue matters.">{{event.desc}}</textarea>
</div>
<div class="form-group">
  <label for="imgUrl">Image url representing the company</label>
  <input name="imgUrl" class="form-control" placeholder="" value="{{event.imgUrl}}"/>
</div>
