<!-- views/events-new.handlebars -->

<form action="/events" method="post">
  {{> events-form }}
  <div class="text-right">
    <button type="submit" class="btn btn-primary" name="button">Save</button>
  </div>
</form>
