<!-- views/events-show.handlebars -->

<div class="row mt-4">
  <div class="col-lg-6 offset-lg-3">
    <img class="img-fluid w-100 rounded mb-3" src="{{event.imgUrl}}" alt="Card image cap">
    <h3>{{event.title}}</h3>
    <div class="lead">{{event.desc}}</div>
    <div class="text-right">
      <a href="/events/{{event.id}}/edit">Edit</a>
    </div>
  </div>
</div>
